@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background-color: hsl(218, 23%, 16%);
    font-family: 'Manrope', sans-serif;
}

.advice-content {
    background-color: hsl(217, 19%, 24%);
    border-radius: 10px;
    position: relative;
}

.advice-content p.advice-num {
    color: hsl(150, 100%, 66%);
    font-size: 0.875rem;
    text-align: center;
}

.advice-content p#quote{
    color: hsl(193, 38%, 86%);
    text-align: center;
    font-size: 1.25rem;
}

.dice {
    background-color: hsl(150, 100%, 66%);
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -20px;
}

.dice img {
    margin-left: auto;
    margin-right: auto;
    height: auto;
    padding-top: 10px;
}